@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	min-height: 100vh;
	background: #fff;
	margin: 0 auto;
	font-weight: normal;
}
